:root {
  --purple: #cdb4db;
  --light-pink: #ffc8dd;
  --pink: #ffafcc;
  --light-blue: #bde0fe;
  --blue: #a2d2ff;
}

html {
  margin: 0;
  padding: 0;
}

.navbar {
  font-family: 'Poppins', sans-serif;
}

.navbrand {
  font-family: "Kaushan Script", cursive;
  font-size: 40px !important;
}

.navlink:hover {
  background-color: var(--light-blue);
  transition: ease 0.9s;
  font-weight: 400;
}

.title {
  font-family: 'Kaushan Script', cursive;
  font-size: 60px;
}

.text {
  font-family: 'Poppins', sans-serif;
}

.text-box {
  background-color: var(--light-blue);
}

.footer {
  background-color: var(--blue);
  --bs-gutter-x: 0 !important;
}

.homepage-images {
  height: 320px;
  width: 320px;
}

.footer-links {
  color: #000 !important;
}
.footer-links:hover {
  color: white;
  background-color: var(--light-pink);
}

/* -------------Form Styling---------------------- */

.formContainer {
  font-family: 'Poppins', sans-serif;
}

.primaryButton {
  background-color: var(--blue) !important;
  border: none !important;
  color: black !important;
}